@model fashion.Data.Order
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Custom_Layout.cshtml";
}

    <div class="order-tabs">
        <div class="order-tabs__container">
            <h3 class="order-tabs__title">Order Details</h3>
            <nav class="order-tabs__nav">
                <div class="order-tabs__nav-prev">
                    <a class="order-tabs__arrow order-tabs__arrow--prev" href="#">
                        <svg class="icon-icon-chevron">
                            <use xlink:href="#icon-chevron"></use>
                        </svg>
                    </a>
                </div>
                <div class="order-tabs__nav-next">
                    <a class="order-tabs__arrow order-tabs__arrow--next" href="#">
                        <svg class="icon-icon-chevron">
                            <use xlink:href="#icon-chevron"></use>
                        </svg>
                    </a>
                </div>
                <div class="order-tabs__list-wrapper swiper-container">
                    <div class="order-tabs__list swiper-wrapper">
                        <div class="order-tabs__item swiper-slide">
                        <a class="order-tabs__link order-tabs__link--active" asp-area="Admin" asp-controller="Orders" asp-action="Details" asp-route-id="@Model.Id">
                                <svg class="icon-icon-details">
                                    <use xlink:href="#icon-details"></use>
                                </svg>Details
                            </a>
                        </div>
                        <div class="order-tabs__item swiper-slide">
                            <a class="order-tabs__link" asp-area="Admin" asp-controller="Orders" asp-action="OrderStatus" asp-route-id="@Model.Id">
                                <svg class="icon-icon-status">
                                    <use xlink:href="#icon-status"></use>
                                </svg>Status
                            </a>
                        </div>
                        <div class="order-tabs__item swiper-slide">
                        <a class="order-tabs__link" asp-area="Admin" asp-controller="Orders" asp-action="OrderHistory" asp-route-id="@Model.Id">
                                <svg class="icon-icon-back-time">
                                    <use xlink:href="#icon-back-time"></use>
                                </svg>History
                            </a>
                        </div>
                        
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <main class="page-content page-content--order-header">
        <div class="container">
            <div class="page-header">
                <h3 class="page-header__subtitle d-lg-none">Order Details</h3>
                <h1 class="page-header__title">Orders <span class="text-grey">#@Model.Id</span></h1>
            </div>
            <div class="page-tools">
                <div class="page-tools__breadcrumbs">
                    <div class="breadcrumbs">
                        <div class="breadcrumbs__container">
                            <ol class="breadcrumbs__list">
                                <li class="breadcrumbs__item">
                                    <a class="breadcrumbs__link" href="index.html">
                                        <svg class="icon-icon-home breadcrumbs__icon">
                                            <use xlink:href="#icon-home"></use>
                                        </svg>
                                        <svg class="icon-icon-keyboard-right breadcrumbs__arrow">
                                            <use xlink:href="#icon-keyboard-right"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="breadcrumbs__item disabled">
                                <a class="breadcrumbs__link" asp-area="Admin">
                                        <span>E-commerce</span>
                                        <svg class="icon-icon-keyboard-right breadcrumbs__arrow">
                                            <use xlink:href="#icon-keyboard-right"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="breadcrumbs__item">
                                    <a class="breadcrumbs__link" asp-area="Admin" asp-controller="Orders" asp-action="Index">
                                        <span>Orders</span>
                                        <svg class="icon-icon-keyboard-right breadcrumbs__arrow">
                                            <use xlink:href="#icon-keyboard-right"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="breadcrumbs__item active">
                                    <span class="breadcrumbs__link">Details</span>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="page-tools__right">
                    <div class="page-tools__right-row">
                        <div class="page-tools__right-item">
                            <a class="button-icon" href="#">
                                <span class="button-icon__icon">
                                    <svg class="icon-icon-print">
                                        <use xlink:href="#icon-print"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                        <div class="page-tools__right-item">
                            <button class="button-icon" type="button">
                                <span class="button-icon__icon">
                                    <svg class="icon-icon-trash">
                                        <use xlink:href="#icon-trash"></use>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-order">
                <div class="card__wrapper">
                    <section class="card-order__section pt-0">
                        <div class="card__container">
                            <div class="card__header">
                                <div class="row gutter-bottom-xs justify-content-between flex-grow-1">
                                    <div class="col">
                                        <h3 class="card__title">Customer</h3>
                                    </div>
                                    <div class="col-auto">
                                        <span class="card__date">Placed on @Model.OrderDate</span>
                                    </div>
                                </div>
                            </div>
                            <ul class="card-order__customer-list">
                                <li class="card-order__customer-item">
                                    <svg class="icon-icon-user">
                                        <use xlink:href="#icon-user"></use>
                                    </svg> <b>Name:</b>  <span>@Model.Customer.Name</span>
                                </li>
                                <li class="card-order__customer-item">
                                    <svg class="icon-icon-phone">
                                        <use xlink:href="#icon-phone"></use>
                                    </svg> <b>Phone:</b>  <span>@Model.Customer.Phone</span>
                                </li>
                                <li class="card-order__customer-item">
                                    <svg class="icon-icon-email">
                                        <use xlink:href="#icon-email"></use>
                                    </svg> <b>Email:</b>  <span>@Model.Customer.Email</span>
                                </li>
                                <li class="card-order__customer-item">
                                    <svg class="icon-icon-email">
                                        <use xlink:href="#icon-email"></use>
                                    </svg> <b>Address:</b>  <span>@Model.Customer.Location</span>
                                </li>
                            </ul>
                        </div>
                    </section>
                    
                    <div class="card-order__product scrollbar-thin scrollbar-visible" data-simplebar>
                        <table class="table table--lines table--groups table--striped">
                            <colgroup>
                                <col class="colgroup-1">
                                <col class="colgroup-2">
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead class="table__header">
                                <tr class="table__header-row">
                                    <th>
                                        <span class="text-nowrap">PRODUCT</span>
                                    </th>
                                    <th class="text-center">
                                        <span>PRICE</span>
                                    </th>
                                    <th class="text-center">
                                        <span>QUANTITY</span>
                                    </th>
                                    <th>
                                        <span>TOTAL</span>
                                    </th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                            @foreach(var product in Model.OrderDetails)
                            {
                                <tr class="table__row">
                                    <td class="table__td">
                                        <div class="mw-200">
                                            <span class="text-light-theme">@product.Product.Name</span>
                                        </div>
                                    </td>
                                    <td class="table__td text-center text-dark-theme">
                                        <div class="d-inline-block">
                                            <div class="input-group input-group--prepend-xs">
                                                <div class="input-group__prepend">$</div>
                                                <div  class="input" contenteditable="true">@product.Price</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="table__td text-center">
                                        <input disabled class="input input--edit text-center text-light-theme" value="@product.Quantity">
                                    </td>
                                    <td class="table__td text-nowrap text-dark-theme">$@(product.Quantity*product.Price)</td>

                                </tr>
                            }
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="card-order__footer-total">
                        <div class="card__container">
                            <div class="row gutter-bottom-sm justify-content-end">
                                <div class="col-auto">
                                    <ul class="card-order__total">
                                        <li class="card-order__total-item">
                                            <div class="card-order__total-title">Subtotal:</div>
                                        <div class="card-order__total-value">$@(Model.TotalPrice - Model.Fee)</div>
                                        </li>
                                        <li class="card-order__total-item">
                                            <div class="card-order__total-title">Fee:</div>
                                            <div class="card-order__total-value">$@Model.Fee</div>
                                        </li>
                                       
                                        <li class="card-order__total-item card-order__total-footer">
                                            <div class="card-order__total-title">total:</div>
                                        <div class="card-order__total-value">$@(Model.TotalPrice)</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>